//primary colors
$dark-green: #008C00;
$dark-neon-green: #00A800;
$middle-neon: #00C500;
$light-neon-green: #00E100;
$dark-purple: #4801A7;
$middle-purple: #5700C8;
$light-purple: #B3A2FE;
$primary-text-color: #FFFFFF;
$primary-background-color: #000000;

//fonts (imported in index.html)
$body-font: 'Exo 2', sans-serif;


//font sizes
$font-size-sm: 0.8rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.5rem;
$font-size-xl: 1.8rem;

$font-numbers: 4.2rem;
$font-headings: 2.5rem;
$font-paragraphs: 1.7rem;

//title size on front page
$title-size: 5rem;

//typewriter display
$subtitle-size: 2.4rem;

//max height for logo in navigation
$logo-height: 4rem;


//spacing
$spacer: 2rem;
$spacer-sm: 1rem;
$spacer-lg: 4rem;