#startups{
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    background-color: $primary-background-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    

    display: flex;
    justify-content: center;
    align-items: center;

    .pitch{
        margin-left: 8rem;
        margin-right: 8rem;

        .startups-pitch{
            height: 100%!important;
            justify-content: center;
            align-items: center;
            display: flex;

            .startups-text{
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: flex-end;

                h2{
                    color: $middle-purple;
                    font-weight: bold;
                    font-size: $font-numbers;
                    text-align: end;
                }

                h3{
                    color: $light-neon-green;
                    font-weight: bold;
                    font-size: $font-headings;
                    text-align: end;
                }

                p{
                    color: $primary-text-color;
                    font-size: $font-paragraphs;
                    text-align: right;
                    padding-left: 3rem;
                }
            }

            .startups-img{
                justify-content: center;
                align-items: center;
                display: flex;

                img{
                    width: 85%;
                    height: auto;
                }
            }
        }
    }
}


@media only screen and (max-width: 990px){

    #startups{
    
        .pitch{
            margin-top: 4rem;
            margin-bottom: 3rem;
            margin-left: 1rem;
            margin-right: 1rem;
    
            .startups-pitch{
                gap: 3rem;
    
                .startups-text{
                    align-items: flex-start;
                    order: 1;
    
                    h2{
                        font-size: 4rem;
                        text-align: left;
                    }
    
                    h3{
                        font-size: 2.3rem;
                        text-align: left;
                    }
    
                    p{
                        font-size: 1.4rem;
                        text-align: left;
                        padding-left: 0rem;
                    }
                }

                .startups-img{
                    order: 2;

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}