html,
body,
#app{
    scroll-behavior: smooth;
    font-family: $body-font;
    overflow-x: hidden;
    background-color: $primary-background-color;
}

#homeee{
    height: fit-content;
}


#abouttt{
    height: fit-content;
}